.formSubmit {
	background: linear-gradient(to left, rgba(75, 69, 186, 1), rgba(106, 100, 255, 0.8));
	color: var(--text-primary);
	font-size: 20px;
	font-weight: 400;
	font-family: inherit;
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	border: none;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}

.form input {
	background-color: #333232;
	color: var(--text-primary);
	font-size: 16;
	border: none;
	outline: 1px solid #7B7D85;
	border-radius: 2px;
	min-width: 250px;
	max-width: 350px;
	padding: 10px 5px;
}
