.page {
  --background: #1c1c1c;
  --foreground: #1c1c1c;

  --text-primary: #FFFFFF;
  --text-secondary: #666;

  --text-required-fields: #ff4236;

  --input-background: #333232;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  --input-border-radius: 2px;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-poppins);
  background-color: var(--background);
}

.pageTitle {
	color: var(--text-primary);
	font-weight: 600;
}

.textPrimary {
	color: var(--text-primary);
}
