.page {
  --background: #1c1c1c;
  --foreground: #1c1c1c;

  --text-primary: #FFFFFF;
  --text-secondary: #666;

  --text-required-fields: #ff4236;

  --input-background: #333232;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  --input-border-radius: 2px;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-poppins);
  background-color: var(--background);
}

.pageTitle {
	color: var(--text-primary);
	font-weight: 600;
}

.textPrimary {
	color: var(--text-primary);
}

.textRequiredFields {
	color: var(--text-required-fields);
}

.formTitle {
	color: var(--text-primary);
	text-align: center;
	margin-bottom: 100px;
}

.formInputGroup {
	margin-block: 30px;
}

.form input {
	background-color: var(--input-background);
	color: var(--text-primary);
	font-size: 16;
	border: none;
	outline: 1px solid #7B7D85;
	border-radius: var(--input-border-radius);
	min-width: 250px;
	max-width: 350px;
	padding: 10px 5px;
}

.formSubmit {
	background: linear-gradient(to left, rgba(75, 69, 186, 1), rgba(106, 100, 255, 0.8));
	color: var(--text-primary);
	font-size: 20px;
	font-weight: 400;
	font-family: inherit;
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	border: none;
	border-radius: var(--input-border-radius);
	outline: none;
	cursor: pointer;
}
