.formMessageBox {
	text-align: center;
	background-color: #FECACA;
	color: #991B1B;
	font-weight: 600;
	border: 1px solid white;
	border-radius: var(--input-border-radius);
	padding: 10px;
	max-width: 250px;
}
