:root {
	--subtitle-font-size: 20px;
	--input-border-radius: 2px;
}

.pageTitle {
	color: var(--text-primary);
	font-weight: 600;
}

.pageSubtitle {
	color: var(--text-primary);
	font-size: var(--subtitle-font-size);
	font-weight: 500;
}

.topBar {
	padding: 20px;
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.mainBar {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;

	margin: 16px;
}

@media (min-width: 768px) {
	.mainBar {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		gap: 24px;

		margin-inline: 100px;
	}
}

.main {
	margin: auto;
	width: 80%;
}

.addPasswordButton {
	background: linear-gradient(to left, rgba(75, 69, 186, 1), rgba(106, 100, 255, 0.8));	
	padding: clamp(8px, 1.2vw, 12px) clamp(12px, 2.5vw, 18px);
	font-size: clamp(14px, 1vw, 16px);
	font-weight: 400;
	font-family: inherit;
	border-radius: var(--input-border-radius);
	border: none;
	outline: none;
	cursor: pointer;
}

.userIcon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: clamp(50px, 5vw, 60px);
	height: clamp(50px, 5vw, 60px);
	border-radius: 50%;
	background-color: #9046CF;
	font-size: var(--text-large);
	font-weight: 600;
	cursor: pointer;
}

.table {
  font-family: inherit, sans-serif;
  border: 1px solid oklch(0.5 0 0);
  border-collapse: collapse;
  overflow-x: visible;
  width: 100%;
}

.tableHeader{
  background-color: oklch(0.5 0 0);
  text-align: center;
  padding: 8px;
}

.tableData {
	text-align: center;
	border-bottom: 1px solid oklch(0.5 0 0);
	padding: 8px;
}

.actionsDiv {
	display: flex;
	justify-content: space-evenly;
}

.action a {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.action {
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
}

.actionIcon {
	font-size: 16px;
	margin-bottom: 4px;
}

.passwordDiv {
	display: flex;
	align-items: center;
}

.passwordVisibilityIcon {
	margin-inline: 5px;
}